/*
    General
*/
body {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    position: absolute;
}
ul {
    list-style: none;
}

/*
    Color
*/
.blue {
    background-color: #2091DC;
}
.green {
    background-color: #1ABC9C;
    color: #1ABC9C;
}
.white {
    color: white;
}

/*
    Button
*/

/*
    Text
*/
h2 {
    font-size: 42px bold;
}
h3 {
    font-size: 32px bold;
}
h4 {
    font-size: 25px bold;
    color: #1ABC9C;
}
p {
    font-size: 15px bold;
}

/*
    part
*/
section {
    width: 100%;
    height: 250px;
}
footer {
    background-color: #34495E;
    width: 100%;
    height: 50px;
}
